In [1]:
# 예제 1
val = 10

if val > 5:
    print("val is bigger than 5")

val is bigger than 5

In [2]:
# 예제 1-1
val = 1

if val > 5:
    print("val is bigger than 5")

In [3]:
# 예제 1-2 # 탭 키의 중요성
val = 1

if val > 5:
    print("test")
    
print("val is bigger than 5")

val is bigger than 5

In [4]:
# 예제 1-3
val = 1

if val > 5:
    print("test")
    
    print("val is bigger than 5")

In [5]:
# 예제 2
money = 10

if money > 100:
    item = "apple"
    
else:
    item = "banana"
    
print(item)

banana

In [7]:
# 예제 3
score = int(input(('Input Score: ')))

if 90 <= score <= 100:
    grade = 'A'
    
elif 80 <= score < 90: # elif = else if
    grade = 'B'
    
elif 70 <= score < 80:
    grade = 'C'
    
elif 60 <= score < 70:
    grade = 'D'
    
else:
    grade = 'F'
    
print("점수 통보! 등급 = " + grade)

Input Score: 99
점수 통보! 등급 = A

In [14]:
# 퀴즈 
# 수학, 영어, 국사 시험을 봤다.
# 각각의 점수를 입력하여 토탈 평균이 60점 미만이며
# 또한 각 과목의 점수들의 50점 미만인 경우에도 탈락 처리를 하도록 한다.

math = int(input(('Input Math Score: ')))
english = int(input(('Input English Score: ')))
history = int(input(('Input History Score: ')))

average = (math + english + history) / 3

if (math >= 50 and english >= 50 and history >= 50 and average >= 60):
    print("합격")
else:
    print("불합격")
    
print("average: ", average)

Input Math Score: 49
Input English Score: 61
Input History Score: 70
불합격
average:  60.0

In [15]:
# 예제 4
val = 5

while val > 0:
    print(val)
    val -= 1 # (val = var-1)

5
4
3
2
1

In [16]:
# 예제 5
lists = ['Apple', 100, 15.33]

for i in list:
    print(i, type(i))

Apple <class 'str'>
100 <class 'int'>
15.33 <class 'float'>

In [18]:
# 예제 6
numList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in numList:
    if i > 5:
        break
    print("item: {0}".format(i))

item: 1
item: 2
item: 3
item: 4
item: 5

In [20]:
# 예제 7
for i in numList:
    if i % 2 == 0: # 짝수일 때,
        continue
    print("item: {0}".format(i))

item: 1
item: 3
item: 5
item: 7
item: 9

In [1]:
# 예제 8 (list range 범위)
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
# 예제 8-1 (5부터 10 이전 까지)
print(list(range(5, 10)))

[5, 6, 7, 8, 9]

In [3]:
# 예제 8-2 (10부터 0 이전 까지 -1씩 감소하면서 출력)
print(list(range(10, 0, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
# 예제 8-3 (10부터 0 이전까지 = 출력 결과 없음)
print(list(range(10, 0)))

[]

In [5]:
# 예제 8-4 (10부터 20 이전 까지 2씩 증가하면서 출력)
print(list(range(10, 20, 2)))

[10, 12, 14, 16, 18]

In [6]:
# 예제 8-5 동일한 결과
numList = list(range(1, 11))

print(numList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# 예제 9
strList = ["Apple", "Orange", 'Grape', 'Banana']

# len = length. 리스트에 들어있는 원소의 개수
for i in range(len(strList)):
    
    print("idx: {0}, val: {1}".format(i, strList[i]))
    # idx : {0} ---> format(i)
    # val : {1} ---> format(strList[i])

idx: 0, val: Apple
idx: 1, val: Orange
idx: 2, val: Grape
idx: 3, val: Banana

In [10]:
# 예제 9-1
varList = [100, 33.7, "Grape"]

for i in enumerate(varList):
    print(i)

(0, 100)
(1, 33.7)
(2, 'Grape')

In [12]:
# 예제 10
numList1 = [3, 4, 5]
numList2 = [1.5, -0.5, 4]

# x = numList1의 원소
# y = numList2의 원소
# [x * y] = list
print([x * y for x in numList1 for y in numList2])

[4.5, -1.5, 12, 6.0, -2.0, 16, 7.5, -2.5, 20]

In [13]:
# 예제 10-1 타입 확인
numList1 = [3, 4, 5]
numList2 = [1.5, -0.5, 4]

resLists = [x * y for x in numList1 for y in numList2]

print(resLists)
print(type(resLists))

[4.5, -1.5, 12, 6.0, -2.0, 16, 7.5, -2.5, 20]
<class 'list'>